<div class="hero-container">
  <mat-card class="hero-item" *ngFor="let hero of heroList">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>{{ hero.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="hero.image" [alt]="hero.name">
    <mat-card-content>
      <p>
        {{ hero.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="viewHeroDetail(hero.id)">瀏覽細節</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>
