textarea, input {
  &.ng-invalid.ng-touched {
    border: 1px solid red;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

form {
  padding-top: 32px;
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
}

.error-message {
  color: red;
}
